.main {
    @extend %margin-bottom-lg;

    .site-serach {
        margin-bottom: $gap * 3;
    }

    .user-login {
        margin-bottom: $gap * 4;
    }
}

.top-films,
.new-films {
    &-row {
        margin-left: -$gap / 2;
        margin-right: -$gap / 2;
    }

    &-item {
        padding-left: $gap / 2;
        padding-right: $gap / 2;
        margin-bottom: $gap;

        &__thumbnail {
            margin-bottom: 0;
            transition: 0.2s;
        }

        &:hover {
            .thumbnail {
                background-color: $color-accent;
                color: $color-light;
            }

            h3 {
                color: $color-light;
            }
        }

        &__caption {
            text-align: center;
        }

        &__title {
            display: block;
            overflow: hidden;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1rem;
            font-weight: bold
        }
    }
}

.top-films {
    &-body {
        padding-left: 0;
        padding-right: 0;
    }

    &-list {
        position: relative;
        margin-bottom: 0;

        &__link {
            background-color: transparent;
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-top: 1px solid $color-gray;
            margin-right: -1px;
            margin-left: -1px;
            padding: 10px 50px 10px $gap;

            &:first-child {
                border-radius: 0;
                border-top: none;
            }

            &:last-child {
                border-radius: 0;
            }

            &:hover,
            &:focus {
                background-color: $color-accent !important;
                color: $color-light !important;

                .badge {
                    background-color: $color-dark;
                }
            }
        }

        &__badge {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.film-news {
    &-item {

        &__thumbnail {
            margin-bottom: 0;
            transition: 0.25s;
        }

        &__image {
            width: 100%;
        }

        &__text {
            text-align: justify;
        }

        &__button {
            float: right;
            margin-bottom: 30px;
            transition: background-color 0.25s;
        }

        &:hover {
            .thumbnail {
                background-color: $color-accent;
            }

            h3 > a {
                color: $color-accent;
            }

            .btn-warning {
                background-color: $color-accent;
            }
        }

    }
}
